/*color tester*/
/*Initial Color Scheme Choices:

  RGB: 178,93,65
  HEX: B25D41

  RGB: 255,224,214
  HEX: FFE0D6

  RGB: 255,152,119
  HEX: FF9877

  RGB: 177,178,178
  HEX: B1B2B2

  RGB: 179,255,236
  HEX: B3FFEC*/

html {
  /*font-size: 62.5%;*/
}

body {
  font-family: 'Dosis', 'Arial Narrow', Arial, sans-serif; /*have 400 and 700 weight*/
  /*font-size: 1.4rem; /* =14px */*/
  background: rgba(184,182,231,1);
background: -moz-linear-gradient(top, rgba(184,182,231,1) 0%, rgba(195,187,232,1) 27%, rgba(207,198,235,1) 43%, rgba(226,223,246,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(184,182,231,1)), color-stop(27%, rgba(195,187,232,1)), color-stop(43%, rgba(207,198,235,1)), color-stop(100%, rgba(226,223,246,1)));
background: -webkit-linear-gradient(top, rgba(184,182,231,1) 0%, rgba(195,187,232,1) 27%, rgba(207,198,235,1) 43%, rgba(226,223,246,1) 100%);
background: -o-linear-gradient(top, rgba(184,182,231,1) 0%, rgba(195,187,232,1) 27%, rgba(207,198,235,1) 43%, rgba(226,223,246,1) 100%);
background: -ms-linear-gradient(top, rgba(184,182,231,1) 0%, rgba(195,187,232,1) 27%, rgba(207,198,235,1) 43%, rgba(226,223,246,1) 100%);
background: linear-gradient(to bottom, rgba(184,182,231,1) 0%, rgba(195,187,232,1) 27%, rgba(207,198,235,1) 43%, rgba(226,223,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8b6e7', endColorstr='#e2dff6', GradientType=0 );
}

img {
  max-width: 100%
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  /*font-size: 4rem; /* =24px */*/
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #B3FFEC;
}
