/*put the nav bar in line to test responsiveness. Move Later.*/
.main-nav ul {
  display: none;
  text-align: right;
}

.main-nav li {
  text-align: right;
}

.main-nav a {
  font-size: 2rem;
}

footer li {
  display: inline-block;
}

@media only screen and (min-width: 640px) {
  .main-nav ul {
    display:inline-block;
  }

  .main-nav ul li {
    display: inline-block;
  }

.main-nav a {
  font-size: 2rem;
}

  .icon-menu {
    display:none;
  }

  footer li {
    padding-right: 20%;
  }
