.main-nav ul {
  display: none;
  text-align: right;
  position: absolute;
  margin-left: 80%;
}

.main-nav li {
  text-align: right;
}

.main-nav a {
  font-size: 2rem;
}

.row {
  margin-bottom: 10%;
}
footer li {
  display: inline-block;
  padding-right: 2%;
}

@media only screen and (min-width: 640px) {

  .main-nav {
    padding-bottom: 10%;
  }
  .main-nav ul {
    position: absolute;
    display:inline-block;
  }

  .main-nav ul li {
    display: inline-block;
  }

.main-nav a {
  font-size: 2rem;
  padding-left: 30%;
}

  .icon-menu {
    display:none;
  }

  footer li {
    padding-right: 3%;
  }
