/*put the nav bar in line to test responsiveness. Move Later.*/
.display-inline, footer li {
  display: inline-block;
}

.align-right {
  text-align: right;
}

.main-nav ul {
  display: none;
}

.main-nav a {
  font-size: 2rem;
}

@media only screen and (min-width: 640px) {
  .main-nav ul {
    display:block;
  }

  .main-nav li {
    display: inline;
    margin-left: 5%;
  }

.main-nav a {
  font-size: 2rem;
}

  .icon-menu {
    display:none;
  }
}
