.hidden {
  display: none;
}

.social-menu {

}

.icon-menu {
  width: 20%;
}

/*color tester*/
/*Initial Color Scheme Choices:

  RGB: 178,93,65
  HEX: B25D41

  RGB: 255,224,214
  HEX: FFE0D6

  RGB: 255,152,119
  HEX: FF9877

  RGB: 177,178,178
  HEX: B1B2B2

  RGB: 179,255,236
  HEX: B3FFEC*/
