.hidden {
  display: none;
}

.textAlignRight {
  text-align: center;
}

.icon-menu {
  margin-left: 90%;
}

#drop-down {
  font-size: 3rem;
}

.icon-menu:hover {
  color: #000080;
  /*font-size: 3.5rem;*/
}
